



/* scrollbar styling from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000007; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #88888891; 
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }